##########################################################################
# Title:         Saltbox: Node Exporter | Default Variables              #
# Author(s):     salty                                                   #
# URL:           https://github.com/saltyorg/Saltbox                     #
# --                                                                     #
##########################################################################
#                   GNU General Public License v3.0                      #
##########################################################################
---
node_exporter_path: "{{ server_appdata_path }}/node_exporter"

node_exporter_latest_releases_url: "{{ svm }}https://api.github.com/repos/prometheus/node_exporter/releases/latest"

node_exporter_latest_release_lookup_command: |
  curl -s {{ node_exporter_latest_releases_url }} \
    | jq -r ".assets[] |select(.name | test(\"linux-{{ system_arch_alt }}.tar.gz\")) \
    | .browser_download_url"
