#########################################################################
# Title:         Saltbox: Cloudflared Role                              #
# Author(s):     Cloudflare Tunnel Support for CGNAT                    #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Check tunnel token
  ansible.builtin.fail:
    msg: "Cloudflare Tunnel token is required. Please set reverse_proxy.tunnel.token in adv_settings.yml"
  when: (reverse_proxy.tunnel.token is not defined) or (reverse_proxy.tunnel.token | length == 0)

- name: Remove existing Docker container
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/remove_docker_container.yml"

- name: Create directories
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/directories/create_directories.yml"

- name: Create Docker container
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/create_docker_container.yml"

- name: Wait for tunnel to establish
  ansible.builtin.pause:
    seconds: 5
  when: (not continuous_integration)
